################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aer-enigma/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/AEREnigma.UI/.vs/AEREnigma.UI/v15
/AER.Enigma.Core/bin/Debug/netstandard2.0
/.vs
/AER.Enigma.Core/obj
/AEREnigma.Models/bin/Debug/netstandard2.0
/AEREnigma.Models/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/bin/Debug/netstandard2.0
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/bin/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/bin/iPhoneSimulator/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/bin/x86/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/obj
