################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aer-enigma/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/AEREnigma.UI/.vs/AEREnigma.UI/v15
/AER.Enigma.Core/bin/Debug/netstandard2.0
/AER.Enigma.Core/obj/Debug/netstandard2.0
/AER.Enigma.Core/obj
/AEREnigma.Models/bin/Debug/netstandard2.0
/AEREnigma.Models/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/bin/Debug/netstandard2.0
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/obj
/AEREnigma.ViewModels/bin/Debug/netstandard2.0
/AEREnigma.ViewModels/obj
/.vs
/AEREnigma.UI/.vs/AEREnigma.UI/DesignTimeBuild
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/bin/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/bin/iPhone/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/bin/iPhoneSimulator/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/bin/x86/Debug
/AER.Enigma.Models/bin/Debug/netstandard2.0
/AER.Enigma.Models/obj
/AER.Enigma.Services/bin/Debug/netstandard2.0
/AER.Enigma.Services/obj
/AER.Enigma.UI/bin/Debug/netstandard2.0
/AER.Enigma.UI/obj
/AER.Enigma.UI.Android/bin/Debug
/AER.Enigma.UI.Android/obj
/AER.Enigma.UI.iOS/obj
/AER.Enigma.UI.UWP/obj
/AER.Enigma.ViewModels/bin/Debug/netstandard2.0
/AER.Enigma.ViewModels/obj
/AER.Enigma.UI.UWP/bin/x86/Debug
/AER.Enigma.UI/AER.Enigma.UI.csproj.user
/AER.Enigma.UI.UWP/AEREnigma.UI.UWP.csproj.user
/AER.Enigma.UI.UWP/AEREnigma.UI.UWP.csproj.user
/AER.Enigma.Core.Tests/obj
/AER.Enigma.Models.Tests/obj
/AER.Enigma.Services.Tests/obj
/AER.Enigma.Core.Tests/bin/Debug
/AER.Enigma.Models.Tests/bin/Debug
/AER.Enigma.Services.Tests/bin/Debug
/AER.Enigma.UI.UWP/bin/x86/Debug
/AER.Enigma.TinyIOC/bin/Debug/netstandard2.0
/AER.Enigma.TinyIOC/obj
/AER.Enigma.UI.iOS/bin
/AER.Enigma.ViewModelLocator/bin/Debug/netstandard2.0
/AER.Enigma.ViewModelLocator/obj
/AER.Enigma.ViewModels/bin/Release/netstandard2.0
/AER.Enigma.UI.UWP/bin/x86/Release
/AER.Enigma.UI/bin/Release/netstandard2.0
/AER.Enigma.Services.Tests/bin/Release
/AER.Enigma.Services/bin/Release/netstandard2.0
/AER.Enigma.Models.Tests/bin/Release
/AER.Enigma.Models/bin/Release/netstandard2.0
/AER.Enigma.Core.Tests/bin/Release
/AER.Enigma.Core/bin/Release/netstandard2.0
/AER.Enigma.UI.Android/bin/Release
/AER.Enigma.UI.UWP/AppPackages/AER.Enigma.UI.UWP_1.0.0.0_Debug_Test
/AER.Enigma.UI.UWP/bin
/AER.Enigma.UI.UWP/BundleArtifacts
/AER.Enigma.Data/bin/Debug/netstandard2.0
/AER.Enigma.Data/obj
