################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aer-enigma/v15/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/AEREnigma.UI/.vs/AEREnigma.UI/v15
/AER.Enigma.Core/bin/Debug/netstandard2.0
/AER.Enigma.Core/obj/Debug/netstandard2.0
/AER.Enigma.Core/obj
/AEREnigma.Models/bin/Debug/netstandard2.0
/AEREnigma.Models/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/bin/Debug/netstandard2.0
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/obj
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/obj
/AEREnigma.ViewModels/bin/Debug/netstandard2.0
/AEREnigma.ViewModels/obj
/.vs
/AEREnigma.UI/.vs/AEREnigma.UI/DesignTimeBuild
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.Android/bin/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/bin/iPhone/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.iOS/bin/iPhoneSimulator/Debug
/AEREnigma.UI/AEREnigma.UI/AEREnigma.UI.UWP/bin/x86/Debug
/AER.Enigma.Models/bin/Debug/netstandard2.0
/AER.Enigma.Models/obj
/AER.Enigma.Services/bin/Debug/netstandard2.0
/AER.Enigma.Services/obj
/AER.Enigma.UI/bin/Debug/netstandard2.0
/AER.Enigma.UI/obj
/AER.Enigma.UI.Android/bin/Debug
/AER.Enigma.UI.Android/obj
/AER.Enigma.UI.iOS/obj
/AER.Enigma.UI.UWP/obj
/AER.Enigma.ViewModels/bin/Debug/netstandard2.0
/AER.Enigma.ViewModels/obj
